@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Nope St.<br />
    Hell, No 58025<br />
    <abbr title="Phone">P:</abbr>
    565.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">lolsupport@wtf.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">takemymoney@wtf.com</a>
</address>